.full-body-wrap{
	background: #fff;
	box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
	max-width: 1170px;
	width: 100%;
	margin: auto;
}
.progress-section-01{
	padding-top: 33px;
	padding-bottom: 36px;
}
.progress-section-01 p{
	margin-bottom: 0;
}
.progress-section-01-wrap{
	position: relative;
	display: flex;
}
.progress-section-01-wrap:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 15px;
    background: linear-gradient(#0379a8,#29bcf7,#0379a8);
	border-radius: 50px;
	left: 0;
	right: 0;
	top: 23px;
}
.shopping,
.upgrate,
.summary{
	margin-top: 1px;
	z-index: 2;
	max-width: 28%;
	width: 100%;
	float: left;
	text-align: center;
	align-items: center;
}
.upgrate{
	margin-top: -7px;
	max-width: 44%;
}
.shopping p,
.summary p{
	 font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin-top: 14px;
	font-weight: 600;
}
.upgrate p{
	 font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 7px;
}
.warning-section-two{
	background-image: url('../images/bg-img-sec-2.jpg');background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
	padding: 57px 0 70px;
	min-height: 485px;
}

.warning-section-dec span:nth-child(1){
	font-weight: 400;
	font-size: 20px;
	color: #FF8A00;
	font-family: 'Source Sans Pro', sans-serif;
}
.warning-section-dec h3{
	color: #fff;
	font-weight: 700;
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	line-height: 1.3;
	margin-top: 62px;
	margin-bottom: 40px;
}
.here-text-brfore{
	padding-left: 22px;
	position: relative;
}
.here-text-brfore:before{
	position: absolute;
	content: "";
	height: 5px;
	width: 12px;
	background: #fff;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-top: 7px;
}
.warning-section-dec p{
	font-weight: 400;
	font-size: 30px;
	color: #18B1EF;
	font-family: 'Source Sans Pro', sans-serif;
}
.doctor-section-three-innr{
	padding-top: 50px;
}
.doctor-section-three-innr p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.doctor-section-three-top{
	padding-bottom: 23px;
}
.doctor-section-profile{
	float: left;
	max-width: 36%;
	width: 100%;
	text-align: center;
}
.doctor-section-des{
	float: left;
	max-width: 64%;
	width: 100%;
	padding-left: 18px;
	padding-top: 40px;
}
.doctor-section-three-full-width-text{
	max-width: 100%;
	width: 100%;
}
.text-bold{
	font-weight: 700;
}
.cogni-section-four{
	padding-top: 17px;
	padding: 0 2px;
}
.cogni-section-banner{
	background-image: url('../images/bg-img-sec-4.jpg');background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    min-height: 830px;
    width: 100%;
}
.cogni-section-hedding{
	text-align: center;
}
.cogni-section-hedding h5{
	color: #000;
	font-family: 'PT Serif', serif;
}
.cogni-section-hedding h1{
	color: #1195CA;
	font-family: 'PT Serif', serif;
}
.cogni-section-hedding h3{
	color: #1195CA;
	font-family: 'PT Serif', serif;
	padding-bottom: 10px;
}
.cogni-section-full-dec{
	padding-top: 20px;
}
.cogni-section-full-dec p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.work-differently-section-five{
	padding: 0 2px;
}
.work-differently-section-five-innr{
	background: #1195CA;
	color: #fff;
	padding-bottom: 50px;
}
.work-differently-hedding{
	text-align: center;
	padding: 70px 0 60px 0;
}
.work-differently-profile{
	float: right;
	max-width: 50%;
	width: 100%;
	text-align: right;
	padding-right: 27px;
}
.work-differently-dec{
	float: left;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
}
.work-differently-dec p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.world-plus-section-six{
	padding: 48px 0 50px 0;
}
.world-plus-innr{
	padding: 0px 22px;
}
.world-plus-dec{
	position: relative;
	float: right;
	border: 8px solid #000;
	max-width: 965px;
	width: 100%;
	min-height: 455px;
	padding-left: 230px;
}
.world-plus-profile{
	z-index: 1;
	position: absolute;
	left: 22px;
	top: 50%;
	transform: translateY(-50%);
}
.world-plus-dec h3{
	padding-top: 35px;
	padding-bottom: 45px;
	color: #1195CA;
}
.world-plus-dec p{
	margin-bottom: 0;
	margin-bottom: 30px;
	color: #000;
}
.formula-section-seven{
	padding-top: 20px;
}
.formula-section-innr >p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.formula-section-innr p:nth-child(3){
	margin-bottom: 40px;
}
.formula-section-hedding h3{
	color: #1195CA;
	text-align: center;
	margin-bottom: 50px;
}
.formula-section-innr{
	padding-bottom: 27px;
}
.formula-section-innr > ul > li{
	min-height: 319px;
    margin-bottom: 45px;
    box-shadow: 0 10px 2px 0px #F9F9F9;
    padding-bottom: 20px;
    display: inline-block;
}
.formula-items{
    display: inline-block;
}
.formula-items-innr{
	z-index: 1;
    max-width: 89.5%;
    width: 100%;
    float: right;
}
.formula-1st-items-innr{
    position: relative;
}
.formula-items-hedding{
}
.formula-items-hedding h4{
    background: #22aae1;
    display: inline-block;
    color: #fff;
    margin-bottom: 0;
    padding: 5px 91px 12px 203px;
    border: 6px solid #fff;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(217,217,217,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(217,217,217,1);
box-shadow: 0px 0px 10px 0px rgba(217,217,217,1);
}
.formula-items-dec{
	padding-left: 212px;
	padding-top: 32px;
}
.formula-items-img{
	position: absolute;
    top: -8px;
    z-index: 2;
}
.formula-1st-items-img{
    left: -116px;
}
/*  akta section baki ace */
.formula-2nd-items-innr{
	float: left;
	position: relative;
}
.formula-2nd-items-hedding{
	text-align: right;
}
.formula-2nd-items-hedding h4{
	padding: 5px 223px 12px 100px;
	background: #23AAE2;
}
.formula-2nd-items-img{
	position: absolute;
	right: -116px;
}
.formula-2nd-items-dec{
	padding-left: 0;
	padding-right: 212px; 
}
.formula-3rd-items-innr{
	position: relative;
}
.formula-3rd-items-hedding h4{
	padding: 5px 50px 12px 190px;
}
.formula-3rd-items-img{
	position: absolute;
	left: -116px;
}
.formula-4th-items-innr{
	float: left;
	position: relative;
}
.formula-4th-items-hedding{
	text-align: right;
}
.formula-4th-items-hedding h4{
    padding: 5px 203px 12px 100px;
    padding-right: 262px;
    background: #23AAE2;
}
.formula-4th-items-img{
	position: absolute;
	right: -116px;
}
.formula-4th-items-dec{
	padding-left: 0;
	padding-right: 212px; 
}
.formula-5th-items-innr{
	position: relative;
}
.formula-5th-items-hedding h4{
	padding: 5px 150px 12px 287px;
}
.formula-5th-items-img{
	position: absolute;
	left: -116px;
}
.formula-6th-items-innr{
	float: left;
	position: relative;
}
.formula-6th-items-hedding{
	text-align: right;
}
.formula-6th-items-hedding h4{
	padding: 5px 203px 12px 108px;
    padding-right: 254px;
	background: #23AAE2;
}
.formula-6th-items-img{
	position: absolute;
	right: -116px;
}
.formula-6th-items-dec{
	padding-left: 0;
	padding-right: 212px; 
}
.formula-7th-items-innr{
	position: relative;
}
.formula-7th-items-hedding h4{
    padding: 5px 106px 12px 241px;
}
.formula-7th-items-img{
	position: absolute;
	left: -116px;
}
.formula-8th-items-innr{
	float: left;
	position: relative;
}
.formula-8th-items-hedding{
	text-align: right;
}
.formula-8th-items-hedding h4{
	padding: 5px 203px 12px 165px;
    padding-right: 270px;
    background: #23AAE2;
	background: #23AAE2;
}
.formula-8th-items-img{
	position: absolute;
	right: -116px;
}
.formula-8th-items-dec{
	padding-left: 0;
	padding-right: 212px; 
}
.formula-9th-items-innr{
	position: relative;
}
.formula-9th-items-hedding h4{
	padding: 5px 133px 12px 271px;
}
.formula-9th-items-img{
	position: absolute;
	left: -116px;
}
.profile-section-eight{
	padding: 0 2px;
}
.profile-section-eight-innr{
	background: #1195CA;
}
.profile-section-innr{
	padding-bottom: 15px;
}
.profile-section-hedding{
	margin-top: 70px;
	margin-bottom: 60px;
}
.profile-section-hedding h3{
	color: #fff;
	text-align: center;
}
.profile-items{
	padding-left: 30px;
	padding-right: 25px;
}
.profile-items-innr{
	margin-bottom: 30px;
	display: inline-block;
	padding: 0 27px 0 15px;
}
.profile-img{
	margin-top: 64px;
	max-width: 17%;
	width: 100%;
	float: left;
	text-align: right;
	padding-right: 8px;
}
.profile-dec{
	position: relative;
	background: #fff;
	max-width: 83%;
	width: 100%;
	float: left;
	text-align: center;
	color: #000;
}
.profile-dec h6{
	margin-bottom: 6px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	padding-top: 30px;
}
.profile-dec img{
	padding-bottom: 12px;
}
.profile-dec p{
	margin-bottom: 0;
	color: #000;
	margin-bottom: 24px;
	padding: 0 30px 0 30px;
}
.profile-tringle-left{
	position: absolute;
	top: 0;
	left: -100px;

}
.profile-2nd-items-innr{
	padding: 0 15px 0 27px;
}
.profile-2nd-img{
	text-align: left;
    float: right!important;
    padding-left: 8px;
    padding-right: 0;
}
.profile-2nd-dec{
	float: left!important;
	position: relative;
}
.profile-tringle-right{
	position: absolute;
	top: 0;
	right: -100px;
}
.Revivify-section-nine{
	padding-bottom: 20px;
}
.Revivify-section-hedding{
	padding-top: 50px;
	padding-bottom: 25px;
}
.Revivify-section-hedding h3{
	text-align: center;
	color: #000;
}
.Revivify-profile{
	padding-top: 50px;
	float: right;
	max-width: 50%;
	width: 100%;
}
.Revivify-dec{
	float: left;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
}
.Revivify-dec p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.offering-section-ten{
	padding: 0 2px;
}
.offering-section-ten-innr{
	background: #1195ca;
}
.offering-section-hedding{
	padding-bottom: 12px;
	padding-top: 60px;
}
.offering-section-hedding h3{
	color: #fff;
	text-align: center;
}
.offering-section-innr{
	padding-bottom: 7px;
}
.offering-section-innr p{
	margin-bottom: 0;
	margin-bottom: 30px;
	color: #fff;
}
.offering-section-top{
	padding-bottom: 10px;
}
.offering-section-top-profile{
	float: left;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
}
.offering-section-top-dec{
	float: right;
	max-width: 50%;
	width: 100%;
	padding-left: 15px;
}
.offering-section-bottom{
	display: inline-block;
}
.offering-section-bottom-profile{
	float: right;
	max-width: 50%;
	width: 100%;
}
.offering-section-bottom-dec{
	float: left;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
}


.packeg-items-section-hedding{
	padding: 60px 0 30px 0;
}
.packeg-items-section-hedding h3{
	color: #000;
	text-align: center;
}
.acai-packeg-hedding-bg h2{
	color: #fff;
	margin-bottom: 0;
}
.acai-packeg-items-wrap{
	padding-top: 40px;
}
.acai-packeg-items-wrap >ul > li{
	max-width: 33.33%;
	padding: 0 15px;
	float: left;
	position: relative;
}
.acai-packeg-items-wrap >ul > li:first-child{
	padding-left: 0;
}
.acai-packeg-items-wrap >ul > li:nth-child(3){
	padding-right: 0;
}
.show-hide-2nd{
	display: none;
}
.packeg-items-1st-bdr-btm{
	background: #0f87b8;
    border-radius: 8px;
    padding-bottom: 4px;
}
.packeg-items-2nd-bdr-btm{
	background: #d50001;
    border-radius: 8px;
    padding-bottom: 4px;
}
.packeg-items-3rd-bdr-btm{
	background: #097198;
    border-radius: 8px;
    padding-bottom: 4px;
}
.packeg-2nd-items{
	margin-top: -40px;
}
.packeg-items{
	align-items: top;
	text-align: center;
	box-shadow: 0 0 7px 1px rgba(207,205,205,1);
	background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
    position: relative;
}
.packeg-items:after{
	content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    right: -4px;
    width: 1px;
    z-index: 1;
}
.packeg-items:before{
	content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;	
    left: -4px;
}
.packeg-2nd-items:after{
	background: #daa2a2;
}
.packeg-2nd-items:before{
	background: #daa2a2;	
}
.packeg-3rd-items:after{
	background: #9eb9d5;	
}
.packeg-3rd-items:before{
	background: #9eb9d5;	
}
.packeg-items-hedding{
	background-image: url('../images/card-black.png');
	background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    z-index: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.packeg-items-hedding span{
	display: inline-block;
	background-repeat: no-repeat!important;
	font-size: 32px;
	font-weight: 700;
	font-family: 'Barlow Condensed', sans-serif;
	color: #fff;
	text-shadow: 0 2px #019bd4;
	padding: 10px 10px 15px;
	width: 100%;
	z-index: 5;
	text-transform: uppercase;
}
.packeg-2nd-items-hedding span{
	text-shadow: 0 2px #D22323;
}
.packeg-3rd-items-hedding span{
	text-shadow: 0 2px #145ba3;
}
.packeg-items-hedding strong{
	display: inline-block;
	font-size: 40px;
	font-weight: 700;
	font-family: 'Barlow Condensed', sans-serif;
	color: #fff;
	padding: 12px 0px 17px 0px;
	text-shadow: 0 1px #393532;
	text-transform: uppercase;
}
.packeg-items-body-img{
    padding: 28px 0 45px 0;
}
.packeg-items-body-img a{
	width: 100%;
	height: auto;
	display: inline-block;
}
.packeg-items-1st-body-img{
}
.packeg-items-2nd-body-img{
    padding-top: 50px;
}
.packeg-items-prize{
	position: relative;
	display: inline-block;
	padding-bottom: 0px 50px 10px 20px;
	font-size: 67px;
	font-family: 'Barlow', sans-serif;
	color: #000;
	font-weight: 400;
	margin-left: -40px;
}
.packeg-2nd-items-prize{
	font-size: 93px;
}
.packeg-items-prize:before{
	content: "$";
    position: absolute;
    left: -25px;
    top: -19px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-right: 2px;
}
.packeg-items-prize:after{
	content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-right: -8px;
    margin-top: 5px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.packeg-items-prize strong{
	padding-bottom: 0px 50px 10px 20px;
}
.packeg-items-prize sup{
	position: absolute;
    right: -53px;
    font-size: 38px;
    top: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
.packeg-2nd-items-prize:after{
	width: 9px;
	height: 9px;
	margin-right: -11px;
}
.packeg-2nd-items-prize:before{
	font-size: 47px;
	top: -28px;
    left: -30px;	
}
.packeg-2nd-items-prize sup{
	font-size: 47px;
    top: -4px;
    right: -63px;	
}
.packeg-items-prize sub{
	position: absolute;
    right: -89px;
    font-size: 34px;
    bottom: -11px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}
.packeg-items-save-prize{
	padding-top: 18px;
}
.packeg-items-save-prize p{
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fe0000;
	font-size: 24px;
	margin-bottom: 0;
}
.packeg-2nd-items-save-prize p{
	font-size: 28px;
}
.packeg-items-card{
}
.packeg-card-img{
	padding-top: 10px;
	padding-bottom: 15px;
}
.packeg-2nd-card-img{
	padding-top: 20px;
	padding-bottom: 25px;
}
.packeg-card-img a{
	max-width: 287px;
	width: 100%;
	height: auto;
}
.packeg-items-card ul{
	padding-left: 27px;
}
.packeg-items-card > ul >li{
	position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    text-align: left;
}
.packeg-items-card > ul > li >em{
	position: absolute;
    left: 0;
    top: 0;
}
.packeg-creadite-card{
	padding-bottom: 10px;
}
.packeg-2nd-creadite-card{
	padding-bottom: 20px;
	padding-top: 17px;
}
.pacheg-items-section-dec-innr{
	max-width: 100%;
	width: 100%;
	padding-top: 35px;
	text-align: center;
}
.pacheg-items-section-dec{
	padding-bottom: 18px;
	text-align: left;
}
.pacheg-items-section-dec p{
	margin-bottom: 0;
	margin-bottom: 30px;
}
.pacheg-items-section-dec-innr span{
	font-weight: 600;
	font-size: 18px;
	text-decoration: underline;
	text-align: center;
	color: #0000ff;
}
.pacheg-items-section-dec-link{
	text-align: left;
	margin-top: 30px;
	padding-left: 30px;
}
.pacheg-items-section-dec-link ul li{
	padding-bottom: 18px;
}
.pacheg-items-section-dec-link ul li a{
	font-weight: 400;
	color: #1048c7;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
}
.pacheg-items-section-dec-link ul li a:nth-child(1){
	color: #000;
	padding-right: 20px;
	font-weight: 500;
}
.pacheg-items-section-dec-link ul li a:hover{
	color: #f2a505;
}
/* footer section in body */
.footer-section{
	padding: 0 2px;
}
.footer-section-innr{
	background-color: #0f1314;
    color: #fff;
    text-align: center;
    padding: 55px 0 40px;
    font-size: 14px;
    line-height: 19px;
}
.footer-nav ul{
	margin-bottom: 20px;
}
.footer-nav > ul >li{
    display: inline-block;
    vertical-align: baseline;
    padding: 0 25px;
    position: relative;
    font-size: 18px;
    line-height: 20px;
}
.footer-nav > ul >li:first-child{
	padding-left: 0;
}
.footer-nav > ul >li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.footer-nav > ul > li >a{
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}
.footer-nav > ul > li >a:hover{
	color: #FF9000;
}
.footer-copy-right{
	padding-bottom: 30px;
}
.footer-copy-right p{
	font-size: 14px;
	margin-bottom: 0;
}
.footer-dec{
    padding: 0 35px;
}
.footer-dec p{
	color: #898989;
	font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 0;
}